@charset "utf-8";
@import "base.scss";
#goodItem,#subscriptItem {
  z-index: 1000;
  position: fixed;
  display: block;
  left: 50%;
  top: 50%;
  background-color: #fff;
  @include translate(-50%,-50%);
}

